<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>entrada</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <video class="ion-text-center" id="video"></video>

<div>
  <ion-button (click)="entradaPersona()">Entrada</ion-button>
  <ion-button (click)="salidaPersona()">Salida</ion-button>  
  
</div>  
<ion-datetime [showDefaultButtons]="true" displayFormat="YYYY-MM-DD" [(ngModel)]="fechaSeleccionada" (ionChange)="capturarFecha($event)"></ion-datetime>




  <ion-item *ngFor="let persona of personas">

    <ion-label>{{ persona.valor.rut }}</ion-label>
    <ion-label>{{ persona.valor.entrada }}</ion-label>
    
  </ion-item>

  <ion-button id="open-modal" (click)="entradaPersona()">Open Modal</ion-button>

  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-row class="header-row">
          <ion-col size="2"><strong>RUT</strong></ion-col>
          <ion-col size="2"><strong>Tipo</strong></ion-col>
          <ion-col size="3"><strong>Entrada</strong></ion-col>
          <ion-col size="3"><strong>Salida</strong></ion-col>
          <ion-col size="2"><strong>N° Documento</strong></ion-col>
        </ion-row>
        
        <ng-container *ngFor="let registro of registros; let i = index;">
          <ion-row [class]="i % 2 === 0 ? 'even-row' : 'odd-row'">
            <ion-col size="2">{{ registro.rut }}</ion-col>
            <ion-col size="2">{{ registro.tipo }}</ion-col>
            <ion-col size="3">{{ registro.entrada }}</ion-col>
            <ion-col size="3">{{ registro.salida }}</ion-col>
            <ion-col size="2">{{ registro.nDocumento }}</ion-col>
            
          </ion-row>
        </ng-container>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
