<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>entrada</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <video class="ion-text-center" id="video"></video>

<div>
  <ion-button (click)="entradaPersona()">Entrada</ion-button>
  <ion-button (click)="salidaPersona()">Salida</ion-button>  
  
</div>  

<ion-text color="primary">
<h1 class="ion-text-center"></h1>
</ion-text>
</ion-content>
