<ion-header [translucent]="true">
<ion-toolbar>
<ion-title>cliente</ion-title>
<ion-buttons slot="end">
<ion-back-button defaultHref="home"></ion-back-button>
</ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-card >

<!-- <ion-button id="lector" (click)="lectorPdf()"><ion-icon name="reader-outline"></ion-icon>Documento</ion-button> -->

<ion-button (click)="startScan()" color="success">Entrada<ion-icon name="scan-outline"></ion-icon> </ion-button>
<ion-button (click)="startScan417()" color="medium">Documento<ion-icon name="reader-outline"></ion-icon> </ion-button>
<ion-button (click)="startScan2()" color="danger">Salida<ion-icon name="scan-outline"></ion-icon> </ion-button>

<!-- <ion-item class="result" *ngIf="scanResult" lines="none">

</ion-item> -->
</ion-card>


<ion-item *ngFor="let persona of personas">

<ion-label>{{ persona.valor.rut }}</ion-label>
<ion-label>{{ persona.valor.entrada }}</ion-label>

</ion-item>
</ion-content>
