<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registros</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registro</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <ion-button>listar</ion-button> -->
  <ion-item *ngFor="let registro of registros">

    <ion-label>{{ registro.rut }}</ion-label>
    <ion-label>{{ registro.tipo }}</ion-label>
    <ion-label>{{ registro.entrada }}</ion-label>
    <ion-label>{{ registro.salida }}</ion-label>
  </ion-item>

 
</ion-content>
