<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registros</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>
 
 <ion-button (click)="mostrarDatos()" ><ion-icon name="calendar-outline"></ion-icon></ion-button>
 <ion-text color="primary" *ngIf="permitir && true;">
  <ion-button id="open-modal" (click)="filtrar()">Seleccionar</ion-button>
   <ion-datetime presentation="date" displayFormat="YYYY-MM-DD" [(ngModel)]="fechaSeleccionada" (ionChange)="capturarFecha($event)" >
    
   </ion-datetime>
   </ion-text>
 
   <ion-modal #modal trigger="open-modal">
   </ion-modal>

   <ion-card>
    <ion-card-content style="overflow-x: auto;">
      <table style="border-collapse: collapse; width: 100%;">
        <thead>
          <tr>
            <th style="min-width: 100px; border-bottom: 1px solid black; text-align: left;">RUT</th>
            <th style="min-width: 100px; border-bottom: 1px solid black; text-align: left;">Tipo</th>
            <th style="min-width: 100px; border-bottom: 1px solid black; text-align: left;">Entrada</th>
            <th style="min-width: 100px; border-bottom: 1px solid black; text-align: left;">Salida</th>
            <th style="min-width: 100px; border-bottom: 1px solid black; text-align: left;">N° Documento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let registro of registros">
            <td style="min-width: 100px; border-bottom: 1px solid black; text-align: left;">{{ registro.rut }}</td>
            <td style="min-width: 100px; border-bottom: 1px solid black; text-align: left;">{{ registro.tipo }}</td>
            <td style="min-width: 100px; border-bottom: 1px solid black; text-align: left;">{{ registro.entrada }}</td>
            <td style="min-width: 100px; border-bottom: 1px solid black; text-align: left;">{{ registro.salida }}</td>
            <td style="min-width: 100px; border-bottom: 1px solid black; text-align: left;">{{ registro.ndocumento }}</td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>

 
</ion-content>
