<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registros</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <ion-button>listar</ion-button> -->
 <!--  <ion-item *ngFor="let registro of registros">
<td>
  <ion-label>{{ registro.rut }}</ion-label>
    <ion-label>{{ registro.tipo }}</ion-label>
    <ion-label>{{ registro.entrada }}</ion-label>
    <ion-label>{{ registro.salida }}</ion-label>
</td>
    
  </ion-item>
 -->
 <ion-button (click)="mostrarDatos()" ><ion-icon name="calendar-outline"></ion-icon></ion-button>
 <ion-text color="primary" *ngIf="permitir && true;">
  <ion-button id="open-modal" (click)="filtrar()">Seleccionar</ion-button>
   <ion-datetime presentation="date" displayFormat="YYYY-MM-DD" [(ngModel)]="fechaSeleccionada" (ionChange)="capturarFecha($event)" >
    
   </ion-datetime>
   </ion-text>
 
   <ion-modal #modal trigger="open-modal">
   </ion-modal>

 <ion-row class="header-row">
  <ion-col size="2"><strong>RUT</strong></ion-col>
  <ion-col size="2"><strong>Tipo</strong></ion-col>
  <ion-col size="3"><strong>Entrada</strong></ion-col>
  <ion-col size="3"><strong>Salida</strong></ion-col>
  <ion-col size="2"><strong>N° Documento</strong></ion-col>
</ion-row>

<ng-container *ngFor="let registro of registros; let i = index;">
  <ion-row [class]="i % 2 === 0 ? 'even-row' : 'odd-row'">
    <ion-col size="2">{{ registro.rut }}</ion-col>
    <ion-col size="2">{{ registro.tipo }}</ion-col>
    <ion-col size="3">{{ registro.entrada }}</ion-col>
    <ion-col size="3">{{ registro.salida }}</ion-col>
    <ion-col size="2">{{ registro.ndocumento }}</ion-col>
    
  </ion-row>
</ng-container>
 
</ion-content>
