<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-item>
        <ion-button [routerLink]="['/entrada']" color="danger" >Clientes prueba</ion-button>
      </ion-item>
      <br>
      <ion-item>
        <ion-button [routerLink]="['/cliente']" color="success" >Clientes</ion-button>
      </ion-item>
      <br>
      <ion-item>
        <ion-button [routerLink]="['/entrada']" color="success">Visitas</ion-button>
      </ion-item>
      <br>
      <ion-item>
        <ion-button [routerLink]="['/proveedor']" color="success">Proveedores</ion-button>
      </ion-item>
      <br>
      <ion-item>
        <ion-button [routerLink]="['/registro']" color="warning">Registros</ion-button>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
